/**
	Especificaciones CSS para el juego del solitario 
*/

/* /*** !!!!!!!!!!!!!!!!!!! CODIGO !!!!!!!!!!!!!!!!!!!! 
	Completar los estilos que faltan y modificar al gusto del alumno
**/

/* Todos los contadores estarán ubicados en la parte inferior 
   derecha (position absolute) de los respectivos tapetes (position relative).
*/
.body{
	background: url("../imagenes/pattern.png");
}

.card-transparente{
	background: rgba(255, 255, 255, 0.6);
	backdrop-filter: blur(4px);
	border-radius: 1rem;
	border: 1px solid lightgray;
	box-shadow: 4px 4px 8px black;
}

.card-header{
	background-color: whitesmoke;
	border-radius: 1rem 1rem 0 0 !important;
}

.card-footer{
	text-align: center;
	background-color: whitesmoke;
	border-radius:  0 0 1rem 1rem !important;
}

.container{
	padding: 1rem;
}

.contador {
	position: absolute;
	bottom: 0px;
	right: 3px;
}


/* Centrado del título y color */
h1#titulo {
	text-align: center;
	color: #E65014;
}

/* Centrado de los marcadores de tiempo y movimientos */
h2#marcadores{ 
	text-align: center; 
}

/* Mesa que contiene a los tapetes centrados */
div#mesa{
	text-align: center;
	margin:20px;
}

/* Todos los tapetes con position relative para que
   los respectivos mazos (arrays de <img>) puedan
   posicionarse de manera absoluta respecto a ellos */
div.tapete{
	display: inline-block;
	position: relative;
	border-radius: 1rem;
	border: 1px solid whitesmoke;
	margin: 10px;
}

/* Dimensiones y color de fondo para el tapete inicial */
div.tapete#inicial{
	width: 340px;
	height: 340px;			
	background-color: rgba(255, 255, 255,0.4);
}

/* Dimensiones para todos los tapetes salvo el inicial */
div.tapete:not(#inicial){				
	height: 125px;
	width: 100px;
}

/* Color de fondo para el tapete de las cartas sobrantes */
div.tapete#sobrantes{
	background-color: rgba(20, 228, 255, 0.4);
}

/* Color de fondo de los tapetes receptores */
div.tapete.receptor{
	background-color: rgba(95, 255, 47, 0.6);
}

img.logo{
	
		/*float: right;*/
		width: 20%;
}

img.baraja{
	position: absolute;
	left: 0;
	height: 100%;
	border-radius: 2rem;
}

img.baraja:hover{
	transform: scale(1.05);
	cursor: pointer;
	box-shadow: 1px 1px 8px black;
}

.marcadores{
	text-shadow: 4px 4px 16px whitesmoke;
}
